@import "../index";

.floating-label {
  position: absolute;
  left: 50%;
  z-index: 2;
  background-color: white;
  @extend .border;

  @include font-size(1.1rem);
  transform: translate(-40px, 0.9rem);
  padding: 0.25rem 0.5rem;

  @include media-breakpoint-up("sm") {
    @include font-size(2rem);
    transform: translate(-80px, 1.5rem);
    padding: 0.5rem 1rem;
  }

  .katex-display {
    margin: 0;
  }
}
