.katex-display {
  @extend .my-0;
}
.vega-embed {
  width: 100%;
  height: 65vw;
  @include media-breakpoint-up("sm") {
    height: 50vw;
  }
  @include media-breakpoint-up("lg") {
    height: 0.5 * map-get($container-max-widths, "lg");
  }
}

.range-slider__wrap .range-slider__tooltip div.range-slider__tooltip__label,
.range-slider__wrap:hover
  div.range-slider__tooltip:not(.range-slider__tooltip--off):not(.range-slider__tooltip--disabled) {
  opacity: 1;
}

.tooltip-inner {
  min-width: max-content;
}
